page-home {
    ion-content {
        background: src('./assets/images/galaxy-s8-packaging_home.jpg');
    }
}


page-addManadte {
    .accordion-list {
        background: color($colors, light);
        height: 50%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 2px;
    }
    .section-active {
        background:#ee12d1;
        color: #fff;
    }
    
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 2px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 5px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 1px;
    }
}
