<!-- <ion-card>

  <ion-card-content> -->

    <img src= "{{account.imagePath}}" height="40" width="40">
    <ion-title><h4>Branch: {{account.branchName}}</h4></ion-title>
    <ion-title><h4>Account: {{account.accountNum}}</h4></ion-title>

 <!--   <ion-list-header>Account: {{account.accountNum}}</ion-list-header><!-->

    <ion-list>
      <ion-item *ngFor="let mandate of account.mandates">
        <mandate-segmant [mandate]="mandate"></mandate-segmant>
      </ion-item>


    </ion-list>
   
      <!-- <button ion-button small (click)="goToAddMandate()" style="text-transform: none;">Add Mandate</button> -->
    
  <!-- </ion-card-content>
</ion-card> -->