

    <img src= "{{account.imagePath}}" height="18" width="60">
    <ion-title><h6>Branch: {{account.branchName}}</h6></ion-title>
    <ion-title><h6>Account: {{account.accountNum}}</h6></ion-title>
    
 <!--   <ion-list-header>Account: {{account.accountNum}}</ion-list-header><!-->

    <ion-list>
        
      <ion-item *ngFor="let mandate of account.mandates">
        <mandate-segmant [mandate]="mandate"></mandate-segmant>
      </ion-item>


    </ion-list>
   
      <!-- <button ion-button small (click)="goToAddMandate()" style="text-transform: none;">Add Mandate</button> -->
    
  <!-- </ion-card-content>
</ion-card> -->